<section id="container">
  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <!--header start-->
  <app-header></app-header>
  <!--header end-->
  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <app-sidebar></app-sidebar>
  <!--sidebar end-->
  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row mt">
        <div class="col-md-12">
          <div class="content-panel">
            <div class="col-md-12">
              <h2> <strong>Customer</strong></h2>
            </div>
            <div class="col-md-12">
              <label>Search: </label>
              <input type="text" value="" placeholder="Search">
              <span class="icon-input-btn pull-right">

                <a class="btn btn-default btn-xs btn-info addEmployee" (click)="onCreateClick()" data-toggle="modal" data-target="#modal-default">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add Customer
                </a>
              </span>
              <hr />
            </div>

            <table class="table table-striped table-advance table-hover">
              <!--<h4><i class="fa fa-angle-right"></i> Advanced Table</h4>
              <hr>-->
              <thead>
                <tr>
                  <th><i class="fa fa-bullhorn"></i> Customer Name</th>
                  <th><i class="fa  fa-building"></i>Mobile Number</th>
                  <th><i class="fa  fa-calendar"></i> Customer since Date</th>
                  <th><i class="fa  fa-calendar"></i> Payment Status</th>
                  <th><i class=" fa fa-edit"></i> Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>William Jason</td>
                  <td class="hidden-phone">9028789654</td>
                  <td>04/01/2017</td>
                  <td><span class="label label-info label-mini">Due</span></td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>
                </tr>
                <tr>
                  <td>

                    John Doe

                  </td>
                  <td class="hidden-phone">7894561230</td>
                  <td>04/01/2017</td>
                  <td><span class="label label-warning label-mini">Due</span></td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>
                </tr>
                <tr>
                  <td>

                    Andrew Trump

                  </td>
                  <td class="hidden-phone">4567891478</td>
                  <td>04/01/2017</td>
                  <td><span class="label label-success label-mini">Paid</span></td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>
                </tr>
                <tr>
                  <td>
                    William Turner
                  </td>
                  <td class="hidden-phone">9632587413</td>
                  <td>04/01/2017</td>
                  <td><span class="label label-success label-mini">Paid</span></td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Bruce Anthony</td>
                  <td class="hidden-phone">7531596321</td>
                  <td>04/01/2017</td>
                  <td><span class="label label-warning label-mini">Due</span></td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
      </div>
    </section>
  </section>
  <!--<app-footer></app-footer>-->
  <div class="modal fade" id="modal-default" [hidden]="IsCreateModalHidden">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ModalTitle}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group ">
              <label class="control-label col-md-3 pull-left">Customer ID</label>
              <div class="col-md-9">
                <label class="form-control col-md-12">{{customer.customerId}}</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 pull-left">Customer Name</label>
              <div class="col-md-9">
                <!--<input type="text" class="form-control" [(ngmodel)]="customer.CustomerName" />-->
                <input type="text" class="form-control" name="CustomerName" placeholder="FirstName LastName*" required [(ngModel)]="customer.CustomerName" maxlength="40">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 pull-left">Phone Number</label>
              <div class="col-md-9">
                <!--<input type="text" class="form-control" [(ngmodel)]="customer.PhoneNumber" />-->
                <input type="text" class="form-control" name="PhoneNumber" placeholder="PhoneNumber*" required [(ngModel)]="customer.PhoneNumber" maxlength="10">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 pull-left">Customer Email</label>
              <div class="col-md-9">
                <!--<input type="text" class="form-control" [(ngmodel)]="customer.Email" />-->
                <input type="text" class="form-control" name="Email" placeholder="Email" [(ngModel)]="customer.Email" maxlength="50">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 pull-left">Date of Birth</label>
              <div class="col-md-9">
                <!--<input type="text" class="form-control" [(ngmodel)]="customer.Address" />-->
                <!--<input type="text" class="form-control" name="DOB" placeholder="Date of Birth" [(ngModel)]="customer.DOB">-->
                <!--<datepicker class="form-control" [(ngModel)]="customer.DOB" [viewFormat]="'DD/MM/YYYY'" [modelFormat]="'YYYY-MM-DD'" [id]="'firstDate'" [label]="'To'"></datepicker>-->
                <input type="date" [(ngModel)]="customer.DOB" class="form-control"/>
                <!--<mat-datepicker #myDatepicker></mat-datepicker>-->
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 pull-left">Address</label>
              <div class="col-md-9">
                <!--<input type="text" class="form-control" [(ngmodel)]="customer.Address" />-->
                <input type="text" class="form-control" name="Address" placeholder="Address" [(ngModel)]="customer.Address">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
